NLPAssignment2/.vs/NLPAssignment2/FileContentIndex/34b17d4d-f8ae-4a33-b2e7-b8b1235c9137.vsidx
NLPAssignment2/.vs/NLPAssignment2/v17/.wsuo
*.vsidx
/NLPAssignment2/.vs/NLPAssignment2/v17
/NLPAssignment2/.vs
